
<h1>SALES</h1>
<ol>
<% @sales.each do |sale| %>
  <li>  
    <ul>
      <li> cod <%= sale.cod %> </li>
      <li> tax <%= sale.tax %> </li>
      <li> <%= link_to 'link', sale %> </li>
    </ul>
  </li>
<% end %>
</ol>